.order-container {
  .order-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  :hover {
    background-color: antiquewhite;
  }

  button {
    padding: 10px;
    text-transform: capitalize;
  }
}
