.products-container {
  width: 40%;
  padding: 20px;
  border-left: solid 1px black;
  height: 100%;
  text-transform: capitalize;

  h2 {
    text-align: center;
    padding: 10px;
  }

  .products-overview {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    height: 90vh;
    justify-content: flex-start;
    align-items: flex-start;

    .product {
      width: 20rem;
      height: 15rem;
      border: solid 1px black;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .product:hover {
      background-color: blanchedalmond;
    }
  }
}
